@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model CategoriesCollectionViewModel

@{
    var currentCulture = ViewData["Culture"];
    ViewData["Title"] = "All";
}


<div class="all-categories-wrapper">
    <div class="main-nav">
        <h1>@Localizer["Всички серии"]</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">@Localizer["Начало"]</a></li>
            <li>@Localizer["Серии"]</li>
        </ul>
    </div>

    <div class="category-template-wrapper">

        @foreach (var category in Model.Categories)
        {
            <a class="category-card" asp-controller="Category" asp-action="GetById" asp-route-id="@category.Id">
                @if (currentCulture.ToString() == GlobalConstants.cultureEn)
                {
                    <p id="category-name">@category.NameEn</p>
                    
                    <img src="@category.Picture.Url" />
                    <p id="category-description">@category.DescriptionEn</p>
                }
                else
                {
                    <p id="category-name">@category.Name</p>

                    <img src="@category.Picture.Url" />

                    @if (@category.Description != null)
                    {
                        <div class="description-box">
                            <p id="category-description">@category.Description</p>
                        </div>
                    }
                }

                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                    {
                        <a class="white-button bg-danger" asp-controller="category" asp-action="delete" asp-route-id="@category.Id">Delete</a>
                        <a class="white-button" asp-controller="category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>

                    }
                }
            </a>
        }
    </div>
</div>

