@model CategoriesCollectionViewModel

@{
    ViewData["Title"] = "All";
}

<div class="all-categories-wrapper">

    <div class="category-template">

        @foreach (var category in Model.Categories)
        {
            <p>@category.Name</p>
            <p>@category.Description</p>

            <img src="@category.Picture.Url" width="800" height="400" />

            @if (this.User.Identity.IsAuthenticated)
            {
                @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                {
                    <a asp-controller="category" asp-action="delete" asp-route-id="@category.Id">Delete</a>
                    <a asp-controller="category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>

                }
            }
        }
    </div>
</div>
