@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model CategoriesCollectionViewModel

@{
    ViewData["Title"] = "All";
}

<div class="all-categories-wrapper">
    <div class="main-nav">
        <h1>@Localizer["Всички серии"]</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">@Localizer["Начало"]</a></li>
            <li>@Localizer["Серии"]</li>
        </ul>
    </div>

    <div class="category-template-wrapper">

        <div class="category-card">
            @foreach (var category in Model.Categories)
            {
                <p>@category.Name</p>

                <img src="@category.Picture.Url" width="800" height="400" />
                <p>@category.Description</p>

                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                    {
                        <a asp-controller="category" asp-action="delete" asp-route-id="@category.Id">Delete</a>
                        <a asp-controller="category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>

                    }
                }
            }
        </div>
    </div>
</div>

