@model ecosmetics.Services.Articles.Models.ArticleInputModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Създай Статия"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="create-article-wrapper">

    <section class="create-article-container">

        <h2 class="article-title">@Localizer["Създай Статия"]</h2>
        <form class="article-form" asp-area="" asp-controller="article" asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger "></div>

            <div>
                <label asp-for="Title" class="article-item">@Localizer["Име на Български език"]</label>
                <input asp-for="Title" class="article-item">
                <span asp-validation-for="Title" class="text-danger "></span>
            </div>

            <div>
                <label asp-for="TitleEn" class="article-item">@Localizer["Име на Английски език"]</label>
                <input asp-for="TitleEn" class="article-item">
                <span asp-validation-for="TitleEn" class="text-danger "></span>
            </div>

            <div>
                <label asp-for="Creator" class="article-item">@Localizer["Автор"]</label>
                <input asp-for="Creator" class="article-item">
                <span asp-validation-for="Creator" class="text-danger "></span>
            </div>

            <div>
                <label asp-for="Content" class="article-label">@Localizer["Съдържание на Български език"]</label>
                <textarea asp-for="Content" name="content" id="editor" class="article-item "></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="ContentEn" class="article-label">@Localizer["Съдържание на Английски език"]</label>
                <textarea asp-for="ContentEn" name="contentEn" id="editor" class="article-item "></textarea>
                <span asp-validation-for="ContentEn" class="text-danger"></span>
            </div>


            <div>
                <label asp-for="Picture" class="">@Localizer["Добави снимка"]</label>

                <div class="dropify-wrapper">
                    <div class="dropify-message">
                        <span class="file-icon"></span>
                        <p>Drag and drop a file here or click</p>
                        <p class="dropify-error">Ooops, something wrong appended.</p>
                    </div>
                    <div class="dropify-loader"></div>
                    <div class="dropify-errors-container">
                        <ul></ul>
                    </div>
                    <input type="file" asp-for="Picture" id="input-file-now" class="dropify">
                    <button type="button" class="dropify-clear">Remove</button>
                    <div class="dropify-preview">
                        <span class="dropify-render"></span>
                        <div class="dropify-infos">
                            <div class="dropify-infos-inner">
                                <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                                <p class="dropify-infos-message">Drag and drop or click to replace</p>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>

            <button class="white-button">@Localizer["Създай"]</button>

        <div><a href="https://htmleditor.io/">HTML Editor(wysiwyg)</a></div>
        </form>
    </section>

</section>


<script>
    tinymce.init({
        selector: '#mytextarea'
    });
</script>