@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ecosmetics.Services.Articles.Models.ArticleViewModel
@{
    var currentCulture = ViewData["Culture"];

    if (currentCulture.ToString() == GlobalConstants.cultureEn)
    {
        ViewData["Title"] = @Model.TitleEn;
    }
    else
    {
        ViewData["Title"] = @Model.Title;
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="main-nav">

    @{

        if (currentCulture.ToString() == GlobalConstants.cultureEn)
        {
            <h1>@Model.TitleEn</h1>
        }
        else
        {
            <h1>@Model.Title</h1>
        }
    }

    <ul>
        <li><a asp-controller="Home" asp-action="index">@Localizer["Начало"]</a></li>
        <li><a asp-controller="Article" asp-action="GetAll">@Localizer["Статии"]</a></li>
        @if (currentCulture.ToString() == GlobalConstants.cultureEn)
        {
            <li>@Model.TitleEn</li>
        }
        else
        {
            <li>@Model.Title</li>
        }
    </ul>
</div>

<section class="a-details-container">
        <img class="a-img" src="@Model.Picture.Url" />
    <div class="a-content">


        @if (currentCulture.ToString() == GlobalConstants.cultureEn)
        {
            <div class="a-text-wrapper">
                <p class="a-details-text">@Html.Raw(Model.ContentEn)</p>
            </div>
        }
        else
        {
            <div class="a-text-wrapper">
                <p class="a-details-text">@Html.Raw(Model.Content)</p>
            </div>
        }

    </div>
</section>

