@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ecosmetics.Services.Articles.Models.EditArticleInputModel
@{
    ViewData["Title"] = @Localizer["Промени Статия"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="edit-article-wrapper">
    <section class="article-container">
        <h2>@Localizer["Промени Статия"]</h2>

        <form class="article-form" asp-area="" asp-controller="article" asp-action="EditAsync" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Title" class="control-label font-weight-bold">@Localizer["Заглавие на Български език"]</label>
                <input asp-for="Title" class="font-weight-bold form-control">
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="TitleEn" class="control-label font-weight-bold">@Localizer["Заглавие на Английски език"]</label>
                <input asp-for="TitleEn" class="font-weight-bold form-control">
                <span asp-validation-for="TitleEn" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Content" class="control-label font-weight-bold">@Localizer["Съдържание на Български език"]</label>
                <textarea asp-for="Content" class="font-weight-bold form-control"></textarea>
                <span asp-validation-for="Content" class="text-danger "></span>
            </div>

            <div class="">
                <label asp-for="ContentEn" class="control-label font-weight-bold">@Localizer["Съдържание на Английски език"]</label>
                <textarea asp-for="ContentEn" class="font-weight-bold form-control"></textarea>
                <span asp-validation-for="ContentEn" class="text-danger "></span>
            </div>


            <div class="button">
                <button class="white-button">@Localizer["Запази"]</button>
            </div>
        </form>

        <form class="product-form product-change-pic-form" id="product-change-picture-form" asp-area="" asp-controller="article" asp-action="ChangePicture" asp-route-id="@Model.Id"  enctype="multipart/form-data">
            <p id="pic-form-title">@Localizer["Смени снимка"]</p>

            <div class="dropify-wrapper">
                <div class="dropify-message">
                    <span class="file-icon"></span>
                    <p>Drag and drop a file here or click</p>
                    <p class="dropify-error">Ooops, something wrong appended.</p>
                </div>
                <div class="dropify-loader"></div>
                <div class="dropify-errors-container">
                    <ul></ul>
                </div>
                <input type="file" asp-for="Picture" id="input-file-now" class="dropify">
                <button type="button" class="dropify-clear">Remove</button>
                <div class="dropify-preview">
                    <span class="dropify-render"></span>
                    <div class="dropify-infos">
                        <div class="dropify-infos-inner">
                            <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                            <p class="dropify-infos-message">Drag and drop or click to replace</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="button">
                <button class="white-button">@Localizer["Запази"]</button>
            </div>
        </form>
    </section>
</section>