@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model ArticlesCollectionViewModel

@{
    ViewData["Title"] = "Articles";
}

<section class="articles-wrapper">
    <div class="main-nav">
        <h1>@Localizer["Статии"]</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">@Localizer["Начало"]</a></li>
            <li><p>@Localizer["Статии"]</p></li>
        </ul>
    </div>


    <section class="articles-container">

        @foreach (var article in Model.Articles)
        {
            <div class="article">

                <div class="article-content">
                    <p class="article-brand">Elizabeth-Cosmetics</p>

                    <div class="article-info">
                        <p class="article-createdOn">@article.CreatedOn.ToString("MMMM dd, yyyy")</p>
                        <p class="pipe">|</p>
                        <p class="article-creator">@article.Creator</p>
                    </div>
                    <p class="article-title">@article.Title</p>

                    <div class="article-buttons-box">
                        <a class="button read-more-btn" asp-controller="article" asp-action="getById" asp-route-id="@article.Id">@Localizer["Прочети още"]</a>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                            {
                                <a class="button" asp-controller="article" asp-action="delete" asp-route-id="@article.Id">Delete</a>
                                <a class="button" asp-controller="article" asp-action="Edit" asp-route-id="@article.Id">Edit</a>
                            }
                        }
                    </div>
                </div>
            </div>

        }
    </section>
</section>


