@model ecosmetics.Services.Accounts.Models.ChangePasswordViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["Промени парола"];

}

<section class="create-product-wrapper">
    <section class="product-container">
        <h2>@Localizer["Промени парола"]</h2>

        <form asp-area="" asp-controller="account" asp-action="ChangePassword" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OldPassword">@Localizer["Стара парола"]</label>
                <input asp-for="OldPassword" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword">@Localizer["Нова парола"]</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@Localizer["Потвърди парола"]</label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-danger btn-lg m-2">@Localizer["Запази"]</button>
        </form>
    </section>
</section>
