@model ecosmetics.Services.Products.Models.CreateProductInputModel
@using ecosmetics.Services.Interfaces

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Create Product";
}

<section class="create-product-wrapper">
    <section class="product-container">
        <h2>@Localizer["Създай продукт"]</h2>

        <form asp-area="Administration" asp-controller="Product" asp-action="CreateProduct" class="contact-form" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger "></div>

            <div>
                <label asp-for="Name" class="">@Localizer["Име на продукта на Български език"]</label>
                <input asp-for="Name" class="">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="NameEn" class="">@Localizer["Име на продукта на Английски език"]</label>
                <input asp-for="NameEn" class="">
                <span asp-validation-for="NameEn" class="text-danger"></span>
            </div>

            <div class="">
                <label asp-for="Description" class="">@Localizer["Описание на Български език"]</label>
                <textarea asp-for="Description" id="mytextarea" class=""></textarea>
                <span asp-validation-for="Description" class="text-danger "></span>
            </div>
            <div class="">
                <label asp-for="DescriptionEn" class="">@Localizer["Описание на Английски език"]</label>
                <textarea asp-for="DescriptionEn"  class=""></textarea>
                <span asp-validation-for="DescriptionEn" class="text-danger "></span>
            </div>
            <div>
                <label asp-for="CategoryId" class="">Category</label>
                <select asp-for="CategoryId" asp-items="@(new SelectList(ViewBag.ListOfCategories,"Id","Name"))" class=""></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            @*<div class="picture-box form-group">
                    <label asp-for="PictFormFiles" class="">Upload Picture </label>
                    <input asp-for="PictFormFiles" hidden accept=".gif,.png,.jpg,.jpeg" multiple />
                    <span asp-validation-for="PictFormFiles" class="text-danger"></span>
                </div>*@
            <div>
                <label asp-for="PictFormFiles" class="">@Localizer["Добави снимка"]</label>

                <div class="dropify-wrapper">
                    <div class="dropify-message">
                        <span class="file-icon"></span>
                        <p>Drag and drop a file here or click</p>
                        <p class="dropify-error">Ooops, something wrong appended.</p>
                    </div>
                    <div class="dropify-loader"></div>
                    <div class="dropify-errors-container">
                        <ul></ul>
                    </div>
                    <input type="file" asp-for="PictFormFiles" id="input-file-now" class="dropify">
                    <button type="button" class="dropify-clear">Remove</button>
                    <div class="dropify-preview">
                        <span class="dropify-render"></span>
                        <div class="dropify-infos">
                            <div class="dropify-infos-inner">
                                <p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>
                                <p class="dropify-infos-message">Drag and drop or click to replace</p>
                            </div>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="PictFormFiles" class=""></span>
            </div>
            <div>https://html-online.com/editor/</div>
            <div class="button ">
                <button class="white-button">Create</button>
            </div>
        </form>
    </section>
</section>
