@model e_cosmetics.Services.Products.Models.ProductViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="details-wrapper">
    <div class="main-nav">
        <h1>@Model.Name</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Начало</a></li>
            <li><a asp-controller="Category" asp-action="GetById" asp-route-id="@Model.CategoryId">Продукти</a></li>
            <li><p>@Model.Name</p></li>
        </ul>
    </div>


    <section class="product-box-section-wrapper">

        <div class="product-template">

            <div class="product-picture-box">
                @foreach (var picture in @Model.Pictures)
                {
                    <img src="@picture.Url" class="product-picture" />
                }
            </div>

            <div class="product-content">
                <h2 class="product-title">@Model.Name</h2>
                <p>@Model.Description</p>
            </div>
        </div>

    </section>
</section>

