@model e_cosmetics.Services.Products.Models.ProductViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="details-wrapper">
    <div class="main-nav">
        <h1>@Model.Name</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>Details</p></li>
        </ul>
    </div>

    <section class="product-details">
        <section class="black-box-title">
            <h2>@Model.Name</h2>
            <p class="sub-title">Details</p>
        </section>

        <ul class="black-box-content black-box-content-product">
            @foreach (var picture in @Model.Pictures)
            {
                <li class="image-wrapper">
                    <span><img src="@picture.Url" class="product-picture" width="250" height="250" /></span>
                </li>

            }
        </ul>

        <section class="product-content">
            <p class="product-text">@Model.Description</p>
        </section>

    </section>
</section>

