@model e_cosmetics.Services.Products.Models.ProductViewModel
@{
    ViewData["Title"] = "Details";
}

<section class="details-wrapper">
    <div class="main-nav" id="main-nav-product-details">
        <h1>@Model.Name</h1>

        <ul id="main-nav-product-details-ul">
            <li><a asp-controller="Home" asp-action="index">Начало</a></li>
            <li><a asp-controller="Category" asp-action="GetById" asp-route-id="@Model.CategoryId">Продукти</a></li>
            <li><p id="main-nav-product-name">@Model.Name</p></li>
        </ul>
    </div>

    <section class="product-details-container">
        <div class="product-details-title-box">
            <h2 id="">@Model.Name</h2>
            <p class="sub-title">Popular</p>
        </div>

        <div class="product-details-content">
            <div class="details-content-box">
                @foreach (var picture in Model.Pictures)
                {
                    <img class="product-image-box" src="@picture.Url" alt="Product Picture" />
                }

            <div class="product-promo-text">
                <p>@Model.Description</p>

            </div>
            </div>

            @*<div class="product-description">
                <p>@Model.Description</p>
            </div>*@
        </div>
    </section>

    @*<div class="categories">
            <section class="black-box-title">
                <h2 id="black-box-product-title">@Model.Name</h2>
                <p class="sub-title">Popular</p>
            </section>

            <section class="black-box-content" id="black-box-content-product-details">

                @foreach (var picture in Model.Pictures)
                {
                    <a class="category" >
                        <div class="image-wrapper">
                            <span><img src="@picture.Url" class="category-picture" id="product-image" width="250" height="250" /></span>
                        </div>
                    </a>
                }

            </section>
        </div>

        <div class="product-decsription-wrapper">
            <p>@Model.Description</p>
        </div>*@
</section>



