@model CategoriesCollectionViewModel

@{
    ViewData["Title"] = "All";
}

    <div>

        @foreach (var category in Model.Categories)
        {
            <p>@category.Name</p>
            <p>@category.Description</p>

            <img src="@category.CategoryPictureUrl" width="800" height="400" />
            <a asp-controller="category" asp-action="delete" asp-route-id="@category.Id">Delete</a>
            <a asp-controller="category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
        }
    </div>
