@model e_cosmetics.Services.Products.Models.ProductCollectionViewModel

@{

    ViewData["Title"] = "Products";
}

<section class="products-wrapper">
    <div class="main-nav">
        <h1>Products</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">Home</a></li>
            <li><p>Products</p></li>
        </ul>
    </div>

    <section class="products-section-wrapper">

        <section class="products-section">
            <ul>
                @foreach (var product in @Model.Products)
                {
                    <li>
                        <a class="product" asp-controller="Product" asp-action="GetById" asp-route-id="@product.Id">

                            @foreach (var picture in product.Pictures.Take(1))
                            {
                                @*<img class="product-picture" src="@picture.Url" alt="Product Picture" />*@
                                <img style="background-image:url(@picture.Url)" />

                            }
                            <div class="product-text">
                                <p class="product-name">@product.Name</p>
                            </div>

                        </a>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            <a class="button button-primary" asp-controller="product" asp-action="delete" asp-route-id="@product.Id">Delete</a>
                            <a class="button button-primary" asp-controller="product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                        }

                    </li>
                }
            </ul>
        </section>
    </section>
</section>
