
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@model e_cosmetics.Services.Products.Models.ProductCollectionViewModel

@{

    ViewData["Title"] = "Products";
}
<h2>@Localizer["Начало"]</h2>
<section class="products-wrapper">
    <div class="main-nav">
        <h1>@Localizer["Продукти"]</h1>

        <ul>
            <li><a asp-controller="Home" asp-action="index">@Localizer["Начало"]</a></li>
            @*<li><a asp-controller="Category" asp-action="GetById" asp-route-id="@Model.Products.Select(x => x.CategoryId)">Начало</a></li>*@
            <li><p>@Localizer["Продукти"]</p></li>
        </ul>
    </div>

    <section class="products-section-wrapper">

        <section class="products-section">
            <ul>
                @foreach (var product in @Model.Products)
                {
                    <li>
                        <a class="product" asp-controller="Product" asp-action="GetById" asp-route-id="@product.Id">

                            @foreach (var picture in product.Pictures.Take(1))
                            {
                                @*<img class="product-picture" src="@picture.Url" alt="Product Picture" />*@
                                <img style="background-image:url(@picture.Url)" />

                            }
                            <div class="product-text">
                                <p class="product-name">@product.Name</p>
                            </div>

                        </a>
                        @if (this.User.Identity.IsAuthenticated)
                        {
                            @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                            {
                                <a class="button button-primary" asp-controller="product" asp-action="DeleteAsync" asp-route-id="@product.Id">Delete</a>
                                <a class="button button-primary" asp-controller="product" asp-action="Edit" asp-route-id="@product.Id">Edit</a>
                            }
                        }

                    </li>
                }
            </ul>
        </section>
    </section>
</section>
