@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
   var returnUrl = @Context.Request.Query["returnurl"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="~/img//FavIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/FavIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img//FavIcons//favicon-16x16.png">
    @*<link rel="manifest" href="~/img/FavIcons/site.webmanifest" mimeType="application/manifest+json">*@

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta content="width=device-width, initial-scale=1" name="viewport" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154344790-1"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154620191-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-154620191-1');
    </script>



    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>

    <link rel="stylesheet" href="~/css/dropify.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @*<link rel="stylesheet" href="~/css/dropify.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

</head>
<body>

    <header class="site-header">
        <section class="site-header-nav">
            <section class="nav-left-part">

                <a asp-controller="Home" asp-action="index"><img src="~/img/Brand-Pictures/brand-pic-white.png" class="brand-nav" alt="e-cosmetics brand" /></a>
                <p class="brand-p">ELIZABETH COSMETICS</p>

                @if (this.User.Identity.IsAuthenticated)
                {
                    @if (this.User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE))
                    {
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Localizer["Администрация"]
                            </button>
                            <div class="dropdown-menu administration-dropdown" aria-labelledby="dropdownMenuButton">
                                <a class=" white-button dropdown-item" asp-controller="category" asp-action="create">@Localizer["Създай серия"]</a>
                                <a class=" white-button dropdown-item" asp-controller="product" asp-action="create">@Localizer["Създай продукт"]</a>
                                <a class=" white-button dropdown-item" asp-controller="article" asp-action="create">@Localizer["Създай статия"]</a>
                                <a class=" white-button dropdown-item" asp-controller="account" asp-action="ChangePassword">@Localizer["Промени парола"]</a>
                                <a class=" white-button dropdown-item" asp-controller="account" asp-action="logout">@Localizer["ИЗХОД"]</a>
                            </div>
                        </div>
                    }
                }

                @*<span id="language-button">@await Html.PartialAsync("_SelectLanguagePartial")</span>*@
                <form id="setLang-nav-form" method="POST" sp-route-returnurl="returnUrl">
                    <button type="submit" id="language-button" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="en-US" asp-route-returnUrl="@ViewData["ReturnUrl"]" value="Submit">EN</button>
                    <button type="submit" id="language-button" asp-controller="Home" asp-action="SetLanguage" asp-route-culture="bg-BG" asp-route-returnUrl="@ViewData["ReturnUrl"]" value="Submit">BG</button>
                </form>

            </section>
            <section class="nav-right-part">

                <p id="hamburger-menu-p">@Localizer["Меню"]</p>
                <div class="icon">
                    <div class="hamburger" onclick="show()">
                    </div>
                </div>
            </section>


        </section>

        <section id="nav-toggle">

            <section class="toggle-top-menu">
                <img src="~/img/Brand-Pictures/logo_elizabeth_logotype-01.png" class="brand-nav-toggle-menu" alt="e-cosmetics brand" />
                <span class="elizabeth-cosmetics-title">Elizabeth Cosmetics</span>

                <div id="close-btn" onclick="closeToggle()">
                    <P id="close-btn-before">@Localizer["Затвори"]</P>
                </div>

            </section>

            <section class="nav-links">
                <ul>
                    <li><a asp-controller="Home" asp-action="index">@Localizer["НАЧАЛО"]</a></li>
                    <li><a asp-controller="Home" asp-action="About">@Localizer["ЗА НАС"]</a></li>
                    <li><a asp-controller="Home" asp-action="contacts">@Localizer["КОНТАКТИ"]</a></li>
                    <li><a asp-controller="Category" asp-action="GetAll" id="series">@Localizer["СЕРИИ"]</a></li>
                    <li><a asp-controller="Article" asp-action="GetAll">@Localizer["БЛОГ"]</a></li>
                </ul>

            </section>
        </section>
    </header>



    <main role="main">
        <partial name="_TempDataMessages" />
        <partial name="_CookieConsentPartial" />
        @RenderBody()

    </main>

    <footer class="footer">
        <div class="site-footer">
            <div class="brand-footer">
                <img src="~/img//Brand-Pictures/logo_elizabeth-01.png" alt="brand-logo" />

            </div>
            <ul>
                <li><a href="https://www.facebook.com/ElizabethCosmeticsBulgaria/"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/elizabethcosmeticsbulgaria/?igshid=wibzh2v1enxz"><i class="fab fa-instagram"></i></a></li>
            </ul>
            <div class="copyrights">
                <p>Copyright &#9400;2019 elizabeth-cosmetics, @Localizer["Всички права запазени."]</p>
            </div>
            @*<div class="col-sm-6 text-right">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>*@
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="top-btn">
                    <i class="fa fa-angle-up"></i>
                </div>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://kit.fontawesome.com/23be4a20c7.js" crossorigin="anonymous"></script>
    <script src="~/js/dropify.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>
    @*<script src="https://cdn.ckeditor.com/4.13.0/full-all/ckeditor.js"></script>*@

    @RenderSection("Scripts", required: false)


</body>
</html>
